In [1]:
#####Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

#####Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST driver version for 96.0.4664
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

In [2]:
###Scrape the [Mars News Site](https://redplanetscience.com/)
###collect the latest News Title and Paragraph Text
url = 'https://redplanetscience.com/'
browser.visit(url)

In [3]:
##convertion
html = browser.html
planet_soup = soup(html, 'html.parser')

In [4]:
###collect the latest News Title and Paragraph Text
results = planet_soup.find('div', class_='content_title')
results.text

"A New Video Captures the Science of NASA's Perseverance Mars Rover"

In [5]:
 ##Assign the text to variables
body=planet_soup.find('div', class_='article_teaser_body')
body.text

'With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.'

In [6]:
##featured_image_url = 'https://spaceimages-mars.com/image/featured/mars2.jpg'
spaceImage = 'https://spaceimages-mars.com'
browser.visit(spaceImage)

In [7]:
full_image_button=browser.find_by_tag('button')
full_image_button.last.click()

In [8]:
##convertion
html = browser.html
spcae_image_soup = soup(html, 'html.parser')

In [9]:
##featured_image_url
Image=spcae_image_soup.find('img', class_='fancybox-image')
Image

In [10]:
featured_image_url=spaceImage+'/'+Image.get('src')

featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [11]:
Mars_url = 'https://galaxyfacts-mars.com'
Mars_df=pd.read_html(Mars_url)

In [12]:
Mars_df = Mars_df[0]
Mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
Mars_df.columns = ['Description','Mars','Earth']
Mars_df=Mars_df.iloc[1:,]
Mars_df

          Description             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [68]:
Mars_html=Mars_df.to_html

# Hemispheres

In [61]:
Hemisphere_url = 'https://marshemispheres.com/'
browser.visit(Hemisphere_url)

In [62]:
image_links = browser.find_by_css("a.product-item img")
len(image_links)

4

In [65]:
hemisphere_list = []
for i in range(len(image_links)):    
    browser.find_by_css("a.product-item img")[i].click()
    # links[i].click()
    image_links1 = browser.find_by_text("Sample")
    image_links1 = image_links1.first
    url = image_links1['href']
    title_valles = browser.find_by_css("h2.title")
    title = title_valles.text
    sphere_dict= {"title": title_valles.text, "img_url": valles_image}
    hemisphere_list.append(sphere_dict)
    browser.visit(Hemisphere_url)

In [66]:
hemisphere_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [67]:
browser.quit()